html {
  font-size: 20px;
  background-color: lightblue;
  color: black;
}

h1 {
  text-align: center;
  color: white;
}

q {
  text-align: center;
  display: block;
  zcolor: red;
}
q:before {
  content: "\00AB  ";
}

q:after {
  content: " \00BB";
}

cite {
  font-size: 0.7em;
  text-align: center;
  display: block;
}
